In [1]:
import numpy as np
import pandas as pd
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import NearestNeighbors

In [45]:
df = pd.read_json('final_result_after_logistic.json')

In [46]:
df_knn = df[['asin','overall','predicted_rating','processedReview', 'summary']]

In [47]:
df_product_review_data_from_sentiment = df_knn.groupby("asin", as_index=False).mean()

In [48]:
df_product_review_data_from_sentiment.head()

         asin   overall  predicted_rating
0  0005019281  4.458716          4.886859
1  0005119367  4.793478          4.952117
2  0307514161  4.732283          4.917819
3  0310263662  3.962461          4.639496
4  0310274281  4.869159          4.926245

In [49]:
df_merge_review_series = df_knn.groupby("asin")["summary"].apply(list).reset_index()
df_merge_review_data = pd.DataFrame(df_merge_review_series)

In [50]:
df_merge_review_data.head()

         asin                                            summary
0  0005019281  [good version of a classic, Good but not as mo...
1  0005119367  [Wonderful!!!, Joseph, As real as it gets!, a ...
2  0307514161  [Who needs it to be christmas to watch this fl...
3  0310263662  [watching anyone being tortured would be sad -...
4  0310274281  [great life lessons, Awesome, Inspiring, GREAT...

In [51]:
final_knn_data = pd.merge(df_product_review_data_from_sentiment, df_merge_review_series, on="asin", how='inner')

In [52]:
final_knn_data.head()

,asin,overall,predicted_rating,summary
0,0005019281,4.458716,4.886859,"[good version of a classic, Good but not as mo..."
1,0005119367,4.793478,4.952117,"[Wonderful!!!, Joseph, As real as it gets!, a ..."
2,0307514161,4.732283,4.917819,[Who needs it to be christmas to watch this fl...
3,0310263662,3.962461,4.639496,[watching anyone being tortured would be sad -...
4,0310274281,4.869159,4.926245,"[great life lessons, Awesome, Inspiring, GREAT..."

In [53]:
regEx = re.compile('[^a-z]+')
def clean_data(text_array):
    text = " ".join(text_array)
    text = text.lower()
    text = regEx.sub(' ', text).strip()
    return text

In [54]:
final_knn_data["clean_summary_data"] = final_knn_data["summary"].apply(clean_data)

In [55]:
final_knn_data.head()

,asin,overall,predicted_rating,summary,clean_summary_data
0,0005019281,4.458716,4.886859,"[good version of a classic, Good but not as mo...",good version of a classic good but not as movi...
1,0005119367,4.793478,4.952117,"[Wonderful!!!, Joseph, As real as it gets!, a ...",wonderful joseph as real as it gets a man of c...
2,0307514161,4.732283,4.917819,[Who needs it to be christmas to watch this fl...,who needs it to be christmas to watch this fli...
3,0310263662,3.962461,4.639496,[watching anyone being tortured would be sad -...,watching anyone being tortured would be sad je...
4,0310274281,4.869159,4.926245,"[great life lessons, Awesome, Inspiring, GREAT...",great life lessons awesome inspiring great pic...

In [56]:
final_knn_data_clean = final_knn_data[['asin','overall','predicted_rating','clean_summary_data']]

In [57]:
final_knn_data_clean.head()

,asin,overall,predicted_rating,clean_summary_data
0,0005019281,4.458716,4.886859,good version of a classic good but not as movi...
1,0005119367,4.793478,4.952117,wonderful joseph as real as it gets a man of c...
2,0307514161,4.732283,4.917819,who needs it to be christmas to watch this fli...
3,0310263662,3.962461,4.639496,watching anyone being tortured would be sad je...
4,0310274281,4.869159,4.926245,great life lessons awesome inspiring great pic...

In [58]:
final_knn_data_clean.to_json('final_knn_data_clean.json')

In [59]:
countVector = CountVectorizer(max_features = 350, stop_words='english') 
transformedReviews = countVector.fit_transform(final_knn_data_clean['clean_summary_data'])

In [60]:
df_knn_vectorized_data = pd.DataFrame(transformedReviews.A, columns=countVector.get_feature_names())
df_knn_vectorized_data = df_knn_vectorized_data.astype(int)

In [61]:
countVector.get_feature_names()

[u'absolutely',
 u'acting',
 u'action',
 u'actors',
 u'actually',
 u'adaptation',
 u'adventure',
 u'age',
 u'amazing',
 u'amazon',
 u'american',
 u'animated',
 u'animation',
 u'art',
 u'average',
 u'away',
 u'awesome',
 u'awful',
 u'bad',
 u'batman',
 u'beautiful',
 u'beginning',
 u'believe',
 u'best',
 u'better',
 u'big',
 u'bit',
 u'black',
 u'blood',
 u'blu',
 u'blue',
 u'bond',
 u'book',
 u'boring',
 u'brilliant',
 u'british',
 u'buy',
 u'cast',
 u'character',
 u'characters',
 u'charming',
 u'children',
 u'christmas',
 u'classic',
 u'collection',
 u'come',
 u'comedy',
 u'comes',
 u'comic',
 u'coming',
 u'complete',
 u'cool',
 u'creepy',
 u'cut',
 u'cute',
 u'dark',
 u'day',
 u'dead',
 u'death',
 u'decent',
 u'definitely',
 u'delightful',
 u'did',
 u'didn',
 u'die',
 u'different',
 u'director',
 u'disappointed',
 u'disappointing',
 u'disappointment',
 u'disc',
 u'disney',
 u'disturbing',
 u'does',
 u'doesn',
 u'don',
 u'drama',
 u'dvd',
 u'edition',
 u'effects',
 u'end',
 u'ending',
 u'enjoy',
 u'enjoyable',
 u'enjoyed',
 u'entertaining',
 u'entertainment',
 u'epic',
 u'evil',
 u'excellent',
 u'exciting',
 u'expected',
 u'experience',
 u'extras',
 u'eye',
 u'fabulous',
 u'family',
 u'fan',
 u'fans',
 u'fantastic',
 u'fantasy',
 u'far',
 u'fast',
 u'favorite',
 u'favorites',
 u'feel',
 u'fi',
 u'fiction',
 u'film',
 u'films',
 u'finally',
 u'fine',
 u'finest',
 u'flawed',
 u'flick',
 u'fun',
 u'funniest',
 u'funny',
 u'game',
 u'gem',
 u'genre',
 u'gets',
 u'getting',
 u'gift',
 u'girl',
 u'god',
 u'goes',
 u'going',
 u'good',
 u'got',
 u'great',
 u'greatest',
 u'guy',
 u'half',
 u'happy',
 u'hard',
 u'harry',
 u'hate',
 u'hd',
 u'heart',
 u'hell',
 u'hero',
 u'high',
 u'highly',
 u'hilarious',
 u'history',
 u'hit',
 u'hitchcock',
 u'hollywood',
 u'home',
 u'horrible',
 u'horror',
 u'house',
 u'human',
 u'humor',
 u'incredible',
 u'intense',
 u'interesting',
 u'isn',
 u'jack',
 u'james',
 u'john',
 u'just',
 u'kids',
 u'kind',
 u'king',
 u'know',
 u'laugh',
 u'let',
 u'life',
 u'light',
 u'like',
 u'liked',
 u'line',
 u'little',
 u'live',
 u'll',
 u'long',
 u'look',
 u'lost',
 u'lot',
 u'lots',
 u'love',
 u'loved',
 u'magic',
 u'make',
 u'makes',
 u'man',
 u'masterpiece',
 u'maybe',
 u'meets',
 u'men',
 u'mind',
 u'miss',
 u'modern',
 u'money',
 u'movie',
 u'movies',
 u'moving',
 u'mr',
 u'music',
 u'musical',
 u'mystery',
 u'need',
 u'needs',
 u'new',
 u'nice',
 u'night',
 u'oh',
 u'ok',
 u'okay',
 u'old',
 u'original',
 u'oscar',
 u'outstanding',
 u'overrated',
 u'packed',
 u'people',
 u'perfect',
 u'performance',
 u'performances',
 u'picture',
 u'piece',
 u'play',
 u'plot',
 u'poor',
 u'potter',
 u'powerful',
 u'predictable',
 u'pretty',
 u'price',
 u'pure',
 u'quality',
 u'quite',
 u'quot',
 u'ray',
 u'read',
 u'real',
 u'really',
 u'red',
 u'release',
 u'remake',
 u'remember',
 u'review',
 u'reviews',
 u'ride',
 u'right',
 u'rocks',
 u'romance',
 u'romantic',
 u'sad',
 u'saw',
 u'say',
 u'scary',
 u'sci',
 u'science',
 u'screen',
 u'script',
 u'season',
 u'second',
 u'seen',
 u'sequel',
 u'series',
 u'set',
 u'short',
 u'shows',
 u'silly',
 u'simply',
 u'slow',
 u'solid',
 u'sound',
 u'space',
 u'special',
 u'star',
 u'stars',
 u'start',
 u'stop',
 u'story',
 u'strong',
 u'stuff',
 u'stunning',
 u'stupid',
 u'style',
 u'super',
 u'superb',
 u'superman',
 u'sure',
 u'surprise',
 u'surprisingly',
 u'suspense',
 u'sweet',
 u'tale',
 u'terrible',
 u'terrific',
 u'th',
 u'thing',
 u'things',
 u'think',
 u'thought',
 u'thriller',
 u'time',
 u'timeless',
 u'times',
 u'tom',
 u'totally',
 u'touching',
 u'transfer',
 u'trek',
 u'trilogy',
 u'true',
 u'truly',
 u'tv',
 u'twist',
 u'typical',
 u'ultimate',
 u'underrated',
 u'unique',
 u'vampire',
 u've',
 u'version',
 u'video',
 u'viewing',
 u'vs',
 u'wait',
 u'want',
 u'war',
 u'wars',
 u'waste',
 u'watch',
 u'watched',
 u'watching',
 u'way',
 u'weak',
 u'western',
 u'white',
 u'wish',
 u'won',
 u'wonderful',
 u'work',
 u'world',
 u'worst',
 u'worth',
 u'worthy',
 u'wow',
 u'wrong',
 u'year',
 u'years',
 u'yes',
 u'young',
 u'zombie']

In [62]:
df_knn_vectorized_data.head()

,absolutely,acting,action,actors,actually,adaptation,adventure,age,amazing,amazon,...,worst,worth,worthy,wow,wrong,year,years,yes,young,zombie
0,0,0,0,0,0,4,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,2,1,0,...,0,1,0,0,0,2,0,0,0,0
3,2,1,1,0,1,0,0,0,10,6,...,4,8,1,10,1,5,2,2,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0

In [63]:
final_knn_data_clean_without_summary = final_knn_data_clean[['asin','overall','predicted_rating']]

In [64]:
final_knn_data_clean_without_summary.head()

         asin   overall  predicted_rating
0  0005019281  4.458716          4.886859
1  0005119367  4.793478          4.952117
2  0307514161  4.732283          4.917819
3  0310263662  3.962461          4.639496
4  0310274281  4.869159          4.926245

In [65]:
data_with_asin = final_knn_data_clean_without_summary.join(df_knn_vectorized_data, how='outer')

In [66]:
data_with_asin.reset_index()
data = data_with_asin.drop('asin', 1)
data_with_asin.tail(180)

,asin,overall,predicted_rating,absolutely,acting,action,actors,actually,adaptation,adventure,...,worst,worth,worthy,wow,wrong,year,years,yes,young,zombie
4379,B00ARA4SLU,3.951128,4.665250,0,3,0,1,0,0,0,...,1,1,0,1,0,0,0,0,0,0
4380,B00ARX2VZW,4.369369,4.885772,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
4381,B00AW0KHTM,4.390426,4.584431,1,1,7,1,1,1,0,...,2,3,1,6,1,3,0,0,1,0
4382,B00AY2DL78,4.625000,4.905905,1,0,0,0,0,0,0,...,0,1,0,2,0,0,0,0,0,0
4383,B00AZMFINM,3.069930,3.406936,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,2,0,0
4384,B00AZMFJ90,3.570175,4.147407,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4385,B00AZMFO6I,4.333333,4.656220,3,10,0,7,0,1,0,...,0,7,1,0,0,0,3,0,3,0
4386,B00AZMFONG,3.647564,4.017977,0,6,3,23,0,0,0,...,0,7,0,2,1,0,0,0,0,0
4387,B00AZNEW5G,3.929699,4.305310,1,6,3,1,2,0,0,...,2,10,0,6,0,5,0,1,0,0
4388,B00B2YH7BS,4.604396,4.881869,2,0,0,0,0,0,0,...,0,3,1,1,0,0,0,4,1,0
4389,B00B4ZN3XQ,3.403141,3.963527,0,3,0,1,0,0,0,...,0,2,0,0,0,0,0,0,0,0
4390,B00B52F278,4.569697,4.867410,0,1,2,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
4391,B00B5AP7NY,4.511905,4.938429,0,1,2,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0
4392,B00B74MJOS,4.336634,4.785234,2,8,2,0,1,0,2,...,0,4,0,14,0,2,0,0,1,0
4393,B00B96TGQS,3.468085,3.889010,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4394,B00BB67UNW,3.391534,3.728619,0,1,3,4,0,0,0,...,0,3,1,3,0,0,0,0,0,0
4395,B00BBAQD6S,4.022901,4.370800,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4396,B00BC36YWC,3.939444,4.234285,3,1,0,3,0,0,0,...,4,13,1,3,1,3,0,0,1,0
4397,B00BC5FN2C,4.437931,4.766475,0,9,0,1,0,0,0,...,2,3,0,8,0,0,1,1,0,0
4398,B00BD6KETC,4.279661,4.736851,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
4399,B00BEEKN26,4.629167,4.814436,0,5,0,2,0,0,0,...,0,3,0,2,0,1,1,0,0,0
4400,B00BEIYFWG,3.995671,4.321672,0,4,21,0,2,0,0,...,2,2,1,3,0,0,0,1,0,0
4401,B00BEIYG98,3.665493,4.163246,0,0,1,0,2,0,0,...,1,0,0,0,0,1,0,1,0,0
4402,B00BEIYGK2,4.225191,4.605463,2,1,0,0,1,0,0,...,0,5,0,3,0,1,2,2,0,0
4403,B00BEIYGT8,3.191729,3.455301,1,3,0,0,0,0,0,...,2,4,0,2,0,0,0,0,0,0
4404,B00BEIYH1A,3.665254,4.048539,0,0,8,0,0,0,0,...,1,1,4,1,1,2,0,0,0,0
4405,B00BEIYHO2,3.986874,4.351934,0,6,140,7,1,0,4,...,2,8,0,8,1,3,1,2,0,0
4406,B00BEIYIF0,4.201511,4.483544,0,4,5,1,0,0,0,...,0,4,0,5,0,1,2,0,0,0
4407,B00BEIYKM6,3.547009,3.794721,1,5,0,0,0,0,0,...,0,2,1,2,2,2,0,0,0,0
4408,B00BEIYKX0,3.909836,4.570061,0,1,0,1,0,0,0,...,0,5,0,0,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4529,B00H7KJTCG,3.944954,4.198014,0,2,1,0,0,1,0,...,0,5,0,1,0,1,0,0,0,0
4530,B00H7LINKE,3.478261,4.143800,0,27,1,4,0,0,0,...,1,2,1,3,0,3,1,0,0,0
4531,B00H83EUL2,3.661312,3.916716,6,18,17,1,2,0,3,...,2,21,5,19,3,6,3,3,0,0
4532,B00H9HZGQ0,3.440945,3.853199,0,1,0,1,0,0,0,...,1,3,2,1,0,1,0,0,0,0
4533,B00H9KKGTO,3.297510,3.769884,3,17,3,4,3,0,0,...,6,5,2,6,3,8,2,0,1,0
4534,B00H9L26AA,4.071429,4.528307,0,8,0,0,0,0,0,...,2,8,1,0,0,4,0,1,0,0
4535,B00H9LHVHI,4.060976,4.603119,0,2,0,1,0,0,0,...,0,2,0,2,0,0,0,0,0,0
4536,B00HEPC0TS,4.066890,4.618510,0,3,59,0,0,0,0,...,1,4,0,0,0,0,1,0,0,0
4537,B00HEPDGKA,3.727011,4.199023,1,2,12,0,1,0,2,...,1,8,1,1,1,0,0,0,0,0
4538,B00HEPE6MM,4.516411,4.827247,3,3,19,1,4,0,1,...,2,5,0,5,0,0,1,0,0,0
4539,B00HEQO9DM,3.895238,4.143616,0,0,1,2,0,0,0,...,0,1,0,0,2,0,0,1,0,0
4540,B00HHYF570,4.052265,4.337612,2,0,1,1,0,8,0,...,0,7,0,2,0,0,0,0,0,0
4541,B00HLSW6TW,2.830601,2.834964,0,2,4,0,0,0,1,...,3,4,0,1,1,0,0,0,1,0
4542,B00HLTD2OE,3.523364,4.109413,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4543,B00HLTD3ZW,4.000000,4.422252,0,1,38,0,1,0,0,...,1,2,0,1,3,0,0,1,0,0
4544,B00HNGZHDE,3.363014,3.691250,0,1,5,0,0,0,0,...,1,3,0,1,0,0,0,0,0,0
4545,B00HNTOYQC,3.291667,3.382420,0,1,1,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
4546,B00HQOFAKI,3.424242,3.742423,0,0,1,1,0,2,0,...,0,1,0,0,0,0,0,1,0,0
4547,B00HRCATDW,3.012048,3.277848,0,0,0,0,1,0,0,...,2,0,0,1,0,0,0,0,0,0
4548,B00HUAH14Q,4.866071,4.952751,0,1,0,0,0,0,0,...,0,2,0,0,0,1,0,0,0,0
4549,B00HUCF420,4.536232,4.638703,0,3,0,1,0,0,0,...,0,1,0,2,0,0,1,2,0,0
4550,B00HUCF7AO,4.646617,4.867129,2,3,1,0,0,0,0,...,0,1,0,1,0,1,0,0,0,0
4551,B00HX0KIAM,3.342391,3.707487,0,0,5,4,0,0,0,...,0,2,0,3,1,2,0,0,0,0
4552,B00I6JOD8M,3.888889,4.220004,0,3,1,3,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4553,B00ICWO0ZY,4.020833,4.492511,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4554,B00IWULQQ2,4.595238,4.893971,0,0,0,0,0,0,0,...,0,0,1,0,0,0,2,0,1,0
4555,B00J4LMHMK,3.350515,3.687197,0,0,1,0,0,0,0,...,0,4,1,1,1,0,0,2,0,0
4556,B00JA3RPAG,3.489726,3.810102,2,2,26,1,0,0,0,...,1,5,0,1,0,1,2,5,0,0
4557,B00JAQJMJ0,3.861818,4.296036,0,2,0,2,0,0,2,...,0,3,0,1,1,3,0,1,0,0
4558,B00JBBJJ24,3.773585,4.528898,0,3,6,0,0,0,1,...,0,2,1,2,0,0,0,1,0,0

In [24]:
data.head()

,overall,predicted_rating,absolutely,acting,action,actors,actually,adaptation,adventure,age,...,worst,worth,worthy,wow,wrong,year,years,yes,young,zombie
0,4.458716,4.886859,0,0,0,0,0,4,0,0,...,0,0,1,0,0,0,0,0,0,0
1,4.793478,4.952117,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,4.732283,4.917819,1,0,0,0,0,0,0,2,...,0,1,0,0,0,2,0,0,0,0
3,3.962461,4.639496,2,1,1,0,1,0,0,0,...,4,8,1,10,1,5,2,2,0,0
4,4.869159,4.926245,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [67]:
data.to_json("data.json")

In [68]:
np_data = np.array(data)

In [69]:
total_data = len(data)
size_of_cut = int(np.floor(0.95 * total_data))
training_data = np_data[:size_of_cut]
test_data = np_data[size_of_cut:]

In [70]:
len(training_data)
data_with_asin_test = data_with_asin.tail(total_data - size_of_cut)
data_with_asin_test_less_cols = data_with_asin_test[['asin','overall','predicted_rating']]

0

In [71]:
len(test_data)

228

In [72]:
neighbor = NearestNeighbors(n_neighbors=3, algorithm='ball_tree').fit(training_data)

In [73]:
distances, indices = neighbor.kneighbors(training_data)

In [74]:
def run_knn(row):
    val = neighbor.kneighbors([test_data[row['serial_no']]])[1]
    arr = val[0]
    temp_arr =[]
    for element in arr:
        temp_arr.append(data_with_asin["asin"][element])
    return ",".join(map(str, temp_arr))

In [75]:
data_with_asin_test_less_cols.reset_index()
data_with_asin_test_less_cols.insert(0, 'serial_no', range(0, 0 + len(data_with_asin_test_less_cols)))

In [76]:
data_with_asin_test_less_cols['recommended']= data_with_asin_test_less_cols.apply(run_knn,axis=1)
data_with_asin_test_less_cols.head()

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,serial_no,asin,overall,predicted_rating,recommended
4331,0,B009B8YZIK,3.750000,3.956708,"B009AMAMT8,B0034G4P58,B0019EXZXU"
4332,1,B009D4SFEC,4.802691,4.952209,"B005A1GS00,B00527QY88,B000N6UF0G"
4333,2,B009DS6YGO,4.700599,4.935863,"B00007KLE8,0792110803,B002KMIW6K"
4334,3,B009EU6F1U,3.586207,3.924027,"B004XCM89M,B0012KJ0DK,B0049TC88U"
4335,4,B009H3LN8Y,3.835681,4.172553,"B00062IZ0Y,B008220BW0,B0077ATSSQ"

In [77]:
data_with_asin_test_less_cols.to_csv("data_with_asin_test_less_cols.csv")

In [79]:
data_with_asin_test_less_cols.head()

,serial_no,asin,overall,predicted_rating,recommended
4331,0,B009B8YZIK,3.750000,3.956708,"B009AMAMT8,B0034G4P58,B0019EXZXU"
4332,1,B009D4SFEC,4.802691,4.952209,"B005A1GS00,B00527QY88,B000N6UF0G"
4333,2,B009DS6YGO,4.700599,4.935863,"B00007KLE8,0792110803,B002KMIW6K"
4334,3,B009EU6F1U,3.586207,3.924027,"B004XCM89M,B0012KJ0DK,B0049TC88U"
4335,4,B009H3LN8Y,3.835681,4.172553,"B00062IZ0Y,B008220BW0,B0077ATSSQ"

In [80]:
neighbor_with_cosine_similarity = NearestNeighbors(n_neighbors=3, algorithm='brute',metric='cosine').fit(training_data)

In [81]:
def run_knn_cosine(row):
    val = neighbor_with_cosine_similarity.kneighbors([test_data[row['serial_no']]])[1]
    arr = val[0]
    temp_arr =[]
    for element in arr:
        temp_arr.append(data_with_asin["asin"][element])
    return ",".join(map(str, temp_arr))

In [84]:
data_with_asin_test_less_cols.reset_index()
data_with_asin_test_less_cols.insert(0, 'serial_no', range(0, 0 + len(data_with_asin_test_less_cols)))

ValueError: cannot insert serial_no, already exists

In [85]:
data_with_asin_test_less_cols['recommended_cosine']= data_with_asin_test_less_cols.apply(run_knn_cosine,axis=1)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [86]:
data_with_asin_test_less_cols

,serial_no,asin,overall,predicted_rating,recommended,recommended_cosine
4331,0,B009B8YZIK,3.750000,3.956708,"B009AMAMT8,B0034G4P58,B0019EXZXU","B005LAIGLE,B005LAIIQC,B0012RLX7Y"
4332,1,B009D4SFEC,4.802691,4.952209,"B005A1GS00,B00527QY88,B000N6UF0G","B00331RHPO,B009AF5OY8,1608838137"
4333,2,B009DS6YGO,4.700599,4.935863,"B00007KLE8,0792110803,B002KMIW6K","B001CDLATY,B002KMIW6K,0792110803"
4334,3,B009EU6F1U,3.586207,3.924027,"B004XCM89M,B0012KJ0DK,B0049TC88U","B008JFUPPI,B005LAIGXW,B004A8ZWWO"
4335,4,B009H3LN8Y,3.835681,4.172553,"B00062IZ0Y,B008220BW0,B0077ATSSQ","B00020BVYW,B00062IZ0Y,B00005JHAA"
4336,5,B009HIK3V2,3.711538,4.059056,"B00003CXQF,B002UADLXG,B0062P332Y","B00682LS4G,B002NXSRVG,B005LAII44"
4337,6,B009JBZH54,4.653571,4.809105,"B000W07EKW,B00005QCYC,B0002Y69NG","B000W07EKW,B00005QCYC,B00006AL1D"
4338,7,B009L79YFU,3.548387,3.958463,"B0010YVCB6,B005OK721G,B00005AFT5","B005LAIGLE,B0010YVCB6,B00682LS4G"
4339,8,B009LDCWWG,4.683544,4.840575,"B003L77GH4,B004YM6JLO,B002JVWR9U","B003L77GH4,B004YM6JLO,B002JVWR9U"
4340,9,B009LDCXNY,4.678392,4.884059,"B003L77FYS,B004YM6JI2,B001BMGXTI","B004YM6JI2,B0058YPGSY,B0053O8A46"
4341,10,B009LDCZ7I,4.521739,4.866921,"B005LAJ1H2,B001NXDIMK,B0007YMVWO","B005LAJ1H2,B001NXDIMK,B000PGTPH8"
4342,11,B009LDD1H6,4.758621,4.993972,"1415707138,B000FTCLSU,B0001HAGQK","B004HW7JNS,1415707138,B0001HAGQK"
4343,12,B009LDD54K,4.637500,4.899631,"B004YM6IZ6,B003Q7B7B0,B000BB1MIM","B004YM6IZ6,1424819237,B0060MYLCU"
4344,13,B009MO57H6,3.502660,3.680737,"B002ZG98UA,0767834739,B003Y5H5EW","B002ZG98UA,B000YPUF9W,B008H6GH8I"
4345,14,B009MO5E10,3.857143,4.405778,"B0062P332Y,6304681496,B00005JKL8","B005LAII44,B0090SI4HO,B005LAIHPE"
4346,15,B009NNM77E,4.373541,4.699360,"B001UV4XXS,B003UESJF6,B00005JPS6","B005LAIIFS,B00742SXOM,B001UV4XXS"
4347,16,B009NNM828,2.470588,2.815317,"0767839129,0767802497,B001OQCVI8","0767839129,B0095HHM78,B00005JPXY"
4348,17,B009NNM9OA,4.539171,4.882478,"B001HN68ZU,B009AMAK54,B00466HN86","B002VECM6S,B000NOK1KC,B004DK5CW4"
4349,18,B009NNMAZI,3.887097,4.213744,"B0068RHSCW,B00003CXQF,B0021L8V2A","0792834976,B005LAIGRS,B005LAIHSG"
4350,19,B009NRQTA6,2.711340,2.585475,"B005B0QYMM,B00007G1ZB,B000I0RNYI","B004LWZW24,B008220C92,B008220CFG"
4351,20,B009OCR1OI,3.171053,3.654013,"B0000AZVEN,B001F0TM4Y,0780619250","B005TC5AEA,B00188M5TM,1400322715"
4352,21,B00A1O0G3G,3.130000,3.686182,"6301763041,6302878527,0800109481","6305470448,6301966988,B00003L9C1"
4353,22,B00A27O0N4,4.950617,4.962435,"B00170LCWC,B001CTDH76,B000060MVK","B000LQN1LI,B001H1GMBC,B001V7YZ9S"
4354,23,B00A27O5AW,4.349206,4.852503,"B001UWOLQG,B0007Y3XRG,B000R349JI","B000R349JI,B001UWOLQG,B000GAKFIG"
4355,24,B00A2H9L2E,3.184397,3.312778,"B003Q6D25K,6300183181,B009AMAMT8","B003Q6D25K,B002ZG98LO,B008VPCL7G"
4356,25,B00A2H9U8E,3.923077,4.321427,"6301412729,0790742640,6301982746","B005LAIH54,B001HN690O,B000TJBN7Q"
4357,26,B00A2H9UG6,3.685950,4.245655,"B000AM4PEK,B002ZG975Q,B002ZG998G","B009AMAK54,B00062IZ0Y,B0067EKY7M"
4358,27,B00A2H9VKG,3.721519,4.289667,"B000F3UAFC,B0034G4P58,B00005ASOC","B005LAIH1S,B009AMAMT8,B004EPYZP8"
4359,28,B00A2H9WW8,3.731602,4.094738,"B002ZG97LK,6301969782,B002ZG971U","B00018D42W,B002ZG971U,B002ZG97LK"
4360,29,B00A2LFXVI,4.481707,4.688893,"0790749068,B001614E68,B0058YPN0U","B008RV5K4U,B004LWZWGA,B004LWZWGK"
...,...,...,...,...,...,...
4529,198,B00H7KJTCG,3.944954,4.198014,"B000E5KQOQ,B00005JOSG,B008KZ06A6","B008KZ06A6,B000E5KQOQ,B009AMAK54"
4530,199,B00H7LINKE,3.478261,4.143800,"B003UESJHO,B000F4PDF8,B005FITIGO","B003UESJHO,B004UXUX4Q,B004LWZW9W"
4531,200,B00H83EUL2,3.661312,3.916716,"B005S9ELM6,B008JFUQZ2,B002VPE1AW","B004LWZW4M,B0059XTU3G,B008OGIPJA"
4532,201,B00H9HZGQ0,3.440945,3.853199,"0788811355,6305126062,B000ZIZ0RA","B0095HHM78,B001U0HBPG,B008OGIPJA"
4533,202,B00H9KKGTO,3.297510,3.769884,"B0095HHM78,B001HN68ZU,B004EPZ07K","B008OGIPJA,B005LAIIJY,B0095HHM78"
4534,203,B00H9L26AA,4.071429,4.528307,"B00020BVYW,B004DK5CW4,B0034G4P94","B008OGIPJA,B003Y5H5H4,B002VECM6S"
4535,204,B00H9LHVHI,4.060976,4.603119,"B000ZIZ0RA,B002ZG99UE,6303949436","B005S9EK1S,B002ZG99UE,B000ZIZ0RA"
4536,205,B00HEPC0TS,4.066890,4.618510,"B000Q6GUT8,B005LAIILM,B005LAIIPS","B000Q6GUT8,B005LAII44,B00542PSY2"
4537,206,B00HEPDGKA,3.727011,4.199023,"B008FCWZJO,B008JFUN1O,B005LAIH54","B008FCWZJO,B008JFUN1O,B004LWZW4M"
4538,207,B00HEPE6MM,4.516411,4.827247,"B001HN68ZU,B009369Z8A,B004DK5CW4","B000NOK1KC,B002VECM6S,B004A8ZWVK"
4539,208,B00HEQO9DM,3.895238,4.143616,"0790733234,B002VPTJNQ,B00006HAWN","B00003CXLV,B0099114WO,B004A8ZWSS"
4540,209,B00HHYF570,4.052265,4.337612,"B009AMAKWM,B005N4DMMG,B0090SI4LU","B003EYVXV4,B009AMAKWM,B0090SI4LU"
4541,210,B00HLSW6TW,2.830601,2.834964,"B0073U2F12,B0021L8V34,B0012Q732O","B008JFUN1O,B004EPZ07K,B0073U2F12"
4542,211,B00HLTD2OE,3.523364,4.109413,"B0009NZ2KG,B004Z7AHTI,B001PR0YEE","B0007Z0NY6,B00005O5DJ,B009AMAH3O"
4543,212,B00HLTD3ZW,4.000000,4.422252,"B002ZG99TA,B00682LS4G,B005LAIILM","0783224079,B000Q6GUT8,B000BDGW4Y"
4544,213,B00HNGZHDE,3.363014,3.691250,"B00003CXXU,B002ZG99CC,B002ZG97LK","B005LAII3A,B0041KKYCY,B002ZG99CC"
4545,214,B00HNTOYQC,3.291667,3.382420,"B00005MEVO,B00001ZWTS,B00005JL8Z","1404974725,B000E5KJF2,B008JFUPPI"
4546,215,B00HQOFAKI,3.424242,3.742423,"6302970040,B001OQCV1K,B00004YS7F","B000069I1B,B005LAIHYU,0790729687"
4547,216,B00HRCATDW,3.012048,3.277848,"0790736691,0780630882,B002HRF68A","0790736691,B001JV5BHQ,6304136242"
4548,217,B00HUAH14Q,4.866071,4.952751,"B004UXVDOA,B0058YPJOU,B000GEIRF0","1608838137,B004NSUXHU,B004UXVDOA"
4549,218,B00HUCF420,4.536232,4.638703,"B00006A8T4,B000FL7C82,B00005JLG2","6303980813,B00006A8T4,B00006C7G9"
4550,219,B00HUCF7AO,4.646617,4.867129,"B001NXDIMK,B000B837Z6,1424819237","B003L77G2Y,B004HW7JNS,B004QOB8SO"
4551,220,B00HX0KIAM,3.342391,3.707487,"B002ZG97II,B002ZG97TW,B00005JMYF","B0090JB6DC,B00466HN7M,B008220BGQ"
4552,221,B00I6JOD8M,3.888889,4.220004,"B00188NXN4,B003NHRIUW,B004QL7JYO","B000BKVQTS,B003NHRIUW,B00188NXN4"
4553,222,B00ICWO0ZY,4.020833,4.492511,"6304039255,B003NKU9AK,B003L20IHE","B004DK5CW4,B000NOK1KC,B0009231SC"
4554,223,B00IWULQQ2,4.595238,4.893971,"B000001BTW,B0013FSL0C,B000FL7C82","B000001BTW,B000FVQYYU,B003Y5HWJU"
4555,224,B00J4LMHMK,3.350515,3.687197,"B0000640VR,B0029RVZGA,B000CAPZBC","B002SJIO4A,0784012822,B002UZCJ8Y"
4556,225,B00JA3RPAG,3.489726,3.810102,"B00682LS4G,B008JFUN1O,B005S9ELVC","B0090SI4HO,B005LAIGLE,B00682LS4G"
4557,226,B00JAQJMJ0,3.861818,4.296036,"B00005V4XW,B00005R874,B000BKVQTS","B00005V4XW,B000E5KJF2,0780626478"
4558,227,B00JBBJJ24,3.773585,4.528898,"6305238065,B00004VVN9,079073639X","B002UZCJ8Y,B002SJIO4A,B000BO0LH2"

In [87]:
data_with_asin_test_less_cols.to_csv("data_with_asin_test_less_cols.csv")

In [89]:
neighbor_with_kd_tree = NearestNeighbors(n_neighbors=3, algorithm='kd_tree').fit(training_data)

In [90]:
def run_knn_kd(row):
    val = neighbor_with_kd_tree.kneighbors([test_data[row['serial_no']]])[1]
    arr = val[0]
    temp_arr =[]
    for element in arr:
        temp_arr.append(data_with_asin["asin"][element])
    return ",".join(map(str, temp_arr))

In [91]:
data_with_asin_test_less_cols['recommended_kd_tree']= data_with_asin_test_less_cols.apply(run_knn_kd,axis=1)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [93]:
data_with_asin_test_less_cols.to_csv("data_with_asin_test_less_cols.csv")